$ctx = '.sb-good-activate'

{$ctx}
  position relative

  &::before
    sprite(ic_activate_yellow_57px)
    position absolute
    top 0
    left -5.625rem
    content ''

  .sb-button
    margin-top 1.75rem
