$ctx = '.sb-good-declare'
{$ctx}
  position relative

  .sb-button
    width 100%

  &::before
    sprite(ic_declare_yellow_60px)
    position absolute
    top 0
    left -5.625rem
    content ''

{$ctx}__phone
  display block
  margin-top 1.75rem
  font-weight 500
  font-size 2.75rem
  line-height 3rem

{$ctx}__form
  margin-top 1.75rem
