$ctx = '.sb-good-info'

{$ctx}
  position absolute
  top 50%
  margin-top 2.5rem
  transform translate3d(0, -50%, 0)
  color #fff


{$ctx}__caption
  font-weight 700
  font-size 4rem

{$ctx}__text
  margin 2.25rem 0 2.75rem
  width 42rem
  font-size 1.125rem
  line-height 1.875rem
