extends ../_layout

block content
  .sb-good-anchor
    .sb-good-anchor__instance
      a.si-link(href="#")
        span.sb-good-anchor__icon.sb-good-anchor__icon_issue.sb-icon
        span.si-link__text Оформить полис
    .sb-good-anchor__instance
      a.si-link(href="#3e9fed61-7254-443a-b333-f92380ceb317")
        span.sb-good-anchor__icon.sb-good-anchor__icon_video.sb-icon
        span.si-link__text Видео о продукте
    .sb-good-anchor__instance
      a.si-link(href="#2749416b-266b-4a26-8641-c83952acde86")
        span.sb-good-anchor__icon.sb-good-anchor__icon_coins.sb-icon
        span.si-link__text Стоимость полиса
    .sb-good-anchor__instance
      a.si-link(href="#3e9fed61-7254-443a-b333-f92380ceb317")
        span.sb-good-anchor__icon.sb-good-anchor__icon_action.sb-icon
        span.si-link__text Страховой случай
    .sb-good-anchor__instance
      a.si-link(href="#434434f9-f563-48bc-ac1a-1900c7c3a196")
        span.sb-good-anchor__icon.sb-good-anchor__icon_declare.sb-icon
        span.si-link__text Заявить об убытке
    .sb-good-anchor__instance
      a.si-link(href="#434434f9-f563-48bc-ac1a-1900c7c3a196")
        span.sb-good-anchor__icon.sb-good-anchor__icon_answers.sb-icon
        span.si-link__text Вопросы и ответы
    .sb-good-anchor__instance
      a.si-link(href="#434434f9-f563-48bc-ac1a-1900c7c3a196")
        span.sb-good-anchor__icon.sb-good-anchor__icon_files.sb-icon
        span.si-link__text Документы
        
  .si-good-section.si-good-section-hero#3e9fed61-7254-443a-b333-f92380ceb317(style="background-image: url('/assets/images/background-house.jpg')")
    .container.container_s_m
      .si-good-section-hero__overlay
      .si-good-section-hero__content
        .si-good-section-hero__caption Защита дома
        .si-good-section-hero__text Программа «Защита дома» — это комплексное страховое решение, предназначенное для защиты целостности Вашей квартиры или дома. Программа включает в себя как защиту от многих рисков и неприятностей, так и Вашу ответственность перед соседями.
        .si-good-section-hero__action
          a.sb-button.sb-button_s_m.sb-button_theme_white(href="#")
            span.sb-button__text Оформить полис
      a.si-good-section__anchor(href="#")

  include ../partials/_section-steps
  include ../partials/_section_activate
  .si-good-section
    .container.container_s_m
      .si-good-caption
        .si-good-caption__text Стоимость полиса
          
      .si-good-calc
        form(ng-init="insuranceSum = 1750")
          .si-good-calc-row
            .r.r_s_m.r_a_c
              .r__c.r__c_1_3
                .si-good-calc-row__caption Объект страхования:
              .r__c.r__c_2_3
                .r.r_s_m
                  .r__c.r__c_1_3
                    label.sb-good-radio.sb-good-radio_theme_type
                      input(type="radio" name="insuranceType" checked)
                      span.sb-good-radio__box
                        img(src="/assets/images/good-house-radio-1.png", srcset="/assets/images/good-house-radio-1_2x.png 2x",  alt="")
                      span.sb-good-radio__text Квартира
                  .r__c.r__c_1_3
                    label.sb-good-radio.sb-good-radio_theme_type
                      input(type="radio" name="insuranceType")
                      span.sb-good-radio__box
                        img(src="/assets/images/good-house-radio-2.png", srcset="/assets/images/good-house-radio-2_2x.png 2x",  alt="")
                      span.sb-good-radio__text Дом
          .si-good-calc-row
            .r.r_s_m.r_a_c
              .r__c.r__c_1_3
                .si-good-calc-row__caption Сумма страховой защиты:
              .r__c.r__c_2_3
                .r.r_s_m
                  .r__c.r__c_1_4
                    label.sb-good-radio
                      input(type="radio" ng-model='insuranceSum' ng-value="1750")
                      span.sb-good-radio__box
                      span.sb-good-radio__text
                        span 450 000
                        span.sb-currency
                  .r__c.r__c_1_4
                    label.sb-good-radio
                      input(type="radio" ng-model='insuranceSum' ng-value="2250")
                      span.sb-good-radio__box
                      span.sb-good-radio__text
                        span.sb-currency 600 000
                  .r__c.r__c_1_4
                    label.sb-good-radio
                      input(type="radio" ng-model='insuranceSum' ng-value="4950")
                      span.sb-good-radio__box
                      span.sb-good-radio__text
                        span.sb-currency 1 400 000
                  .r__c.r__c_1_4
                    label.sb-good-radio
                      input(type="radio" ng-model='insuranceSum' ng-value="6750")
                      span.sb-good-radio__box
                      span.sb-good-radio__text
                        span.sb-currency 2 000 000
                .si-good-calc-properties
                  .si-good-calc-properties__instance
                    .r.r_s_m
                      .r__c
                        .si-good-calc-properties__name Отделка
                      .r__c.r__c_r
                        .si-good-calc-properties__n
                          span 250 000
                          span.sb-currency
                  .si-good-calc-properties__instance
                    .r.r_s_m
                      .r__c
                        .si-good-calc-properties__name Движимое имущество
                      .r__c.r__c_r
                        .si-good-calc-properties__n
                          span 200 000
                          span.sb-currency
                  .si-good-calc-properties__instance
                    .r.r_s_m
                      .r__c
                        .si-good-calc-properties__name Гражданская ответственность
                      .r__c.r__c_r
                        .si-good-calc-properties__n
                          span 150 000
                          span.sb-currency
          .si-good-calc-row
            .r.r_s_m
              .r__c.r__c_1_3
              .r__c.r__c_2_3
                .r.r_s_m
                  .r__c.r__c_1_2
                    .si-good-calc-sum
                      span.si-good-calc-sum__label Итоговая стоимость: 
                      span.si-good-calc-sum__n
                        span(ng-bind="insuranceSum")
                        span.sb-currency
                  .r__c.r__c_1_2
                    .si-good-calc-sum
                      span.si-good-calc-sum__label Срок действия: 
                      span.si-good-calc-sum__n 1 год
        .r.r_s_m
          .r__c.r__c_1_3
          .r__c.r__c_2_3
            a.sb-button.sb-button_s_m.sb-button_theme_green(href="#")
              span.sb-button__text Оформить полис
  .si-good-section
    si-good-slider
      si-good-slider-slide(name="Сдаете квартиру?", style="background-image: url('/assets/images/good-house-slide-1.png');")
        .container.container_s_m
          .sb-good-blockqoute
            .sb-good-blockqoute__text Когда сдаешь в аренду квартиру, в которую вложил душу, вопрос сохранности имущества и ремонта стоит особенно остро. Я не спал 3 месяца — переживал за ковер, но сосед рассказал, что всего за 5 минут и несколько тысяч рублей можно застраховать свою квартиру.
            .sb-good-blockqoute__sign Катя Ефимова, студентка
      si-good-slider-slide(name="Снимаете квартиру?", style="background-image: url('/assets/images/good-house-slide-2.png');")
        .container.container_s_m
          .sb-good-blockqoute
            .sb-good-blockqoute__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem nemo aut facere necessitatibus repellendus tenetur distinctio vero accusamus voluptatibus laudantium incidunt doloribus praesentium atque odit dignissimos quos magnam id, porro!
            .sb-good-blockqoute__sign Катя Ефимова, студентка
      si-good-slider-slide(name="Подарок близким?", style="background-image: url('/assets/images/good-house-slide-3.png');")
        .container.container_s_m
          .sb-good-blockqoute
            .sb-good-blockqoute__text Когда сдаешь в аренду квартиру, в которую вложил душу, вопрос сохранности имущества и ремонта стоит особенно остро. Я не спал 3 месяца — переживал за ковер, но сосед рассказал, что всего за 5 минут и несколько тысяч рублей можно застраховать свою квартиру.
            .sb-good-blockqoute__sign Катя Ефимова, студентка
  include ../partials/_section-actions
  include ../partials/_section-declare
