$ctx = '.sb-button'

{$ctx}
  cursor pointer
  font inherit
  display inline-block
  vertical-align top
  outline 0
  overflow hidden
  position relative
  border 0
  transform translate3d(0, 0, 0)
  text-decoration none
  user-select none
  white-space nowrap
  text-align center
  background transparent

  &::before
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    transition-timing-function $transition-timing-function
    transition-duration $transition-duration
    transition-property all
    content ''
    z-index -1

  &__text
    text-transform uppercase
    display inline-block
    font-weight 600
    text-align center
    transition-timing-function $transition-timing-function
    transition-duration $transition-duration
    transition-property all

{$ctx}_s_s
  padding 0 1rem
  height 2.5rem
  line-height 2.5rem

  &::before
    border-radius 1.25rem

{$ctx}_s_m
  padding 0 1.25rem
  height 44px
  line-height 44px

  {$ctx}__text
    font-size 1.125rem

  &::before
    border-radius 1.5rem

{$ctx}_theme_yellow
  &::before
    background #d6e03e

  &:hover
    color #d6e03e

    &::before
      background transparent


{$ctx}_theme_green
  color #fff

  &::before
    background #009942

  &:hover
    color #009942

    &::before
      background #fff

{$ctx}_theme_c
  font-weight 600
  color #545a06

  {$ctx}__text
    text-transform none

  &::before
    background #d3e120

  &{$ctx}_s_m
    padding-left 2rem
    padding-right 2rem

    {$ctx}__text
      font-size 1rem

{$ctx}_theme_white
  color #009942

  &::before
    background #fff

  &:hover
    color #fff

    &::before
      background #009942


.sb-input
  font inherit
  border 0
  border-radius 2px
  outline 0
  width 100%

  &_s_m
    padding 0 16px
    height 48px



{$ctx}_theme_e
  color #fff
  width 100%

  &::before
    background #009942

  {$ctx}__text
    font-size .875rem
    font-weight 500
    text-transform none

  &:hover
    &::before
      background #00b400


{$ctx}_theme_a
  color #fff

  &::before
    background #009942

  &{$ctx}_s_m
    padding-left 2rem
    padding-right 2rem

  {$ctx}__text
    font-size 1rem
    text-transform none

  &:hover
    &::before
      background #00b400

{$ctx}_theme_b
  color #fff

  &::before
    border 2px solid #fff
    opacity .25

  &{$ctx}_s_m
    padding-left 2rem
    padding-right 2rem

  {$ctx}__text
    font-size 1rem
    text-transform none

  &:hover
    &::before
      opacity 1


{$ctx}_theme_d
  color #fff
  padding-left 16px
  padding-right 16px

  &::before
    border-radius .1875rem
    background #009942

  {$ctx}__text
    font-weight 700
    font-size .6875rem
    line-height 30px


  &:hover::before
    background #00b400


{$ctx}_theme_f
  width 100%
  padding-left 44px
  padding-right 44px

  &::before
    background #fff
    border-radius 26px

  {$ctx}__text
    font-weight 500
    color #009942
    font-size 18px
    line-height 52px
