$ctx = '.sb-icon'

{$ctx},
.si-icon
  display: inline-block
  vertical-align: middle
  transform translate3d(0, 0, 0)

{$ctx}_basket_black_24px
  sprite(ic_basket_black_24px)

{$ctx}_accident_black_24px
  sprite(ic_accident_black_24px)

{$ctx}_accident_white_24px
  sprite(ic_accident_white_24px)

{$ctx}_power_black_24px
  sprite(ic_power_black_24px)

{$ctx}_power_white_24px
  sprite(ic_power_white_24px)

{$ctx}_signin_black_24px
  sprite(ic_signin_black_24px)

{$ctx}_signin_white_24px
  sprite(ic_signin_white_24px)

{$ctx}_menu_black_24px
  sprite(ic_menu_black_24px)

{$ctx}_search_black_24px
  sprite(ic_search_black_24px)
