extends ../_layout

block content
  .sb-good-anchor
    .sb-good-anchor__instance
      a.si-link(href="#")
        span.sb-good-anchor__icon.sb-good-anchor__icon_issue.sb-icon
        span.si-link__text Оформить полис
    .sb-good-anchor__instance
      a.si-link(href="#3e9fed61-7254-443a-b333-f92380ceb317")
        span.sb-good-anchor__icon.sb-good-anchor__icon_power.sb-icon
        span.si-link__text Видео о продукте
    .sb-good-anchor__instance
      a.si-link(href="#2749416b-266b-4a26-8641-c83952acde86")
        span.sb-good-anchor__icon.sb-good-anchor__icon_coins.sb-icon
        span.si-link__text Стоимость полиса
    .sb-good-anchor__instance
      a.si-link(href="#3e9fed61-7254-443a-b333-f92380ceb317")
        span.sb-good-anchor__icon.sb-good-anchor__icon_info.sb-icon
        span.si-link__text Страховой случай
    .sb-good-anchor__instance
      a.si-link(href="#3e9fed61-7254-443a-b333-f92380ceb317")
        span.sb-good-anchor__icon.sb-good-anchor__icon_action.sb-icon
        span.si-link__text Страховой случай
    .sb-good-anchor__instance
      a.si-link(href="#434434f9-f563-48bc-ac1a-1900c7c3a196")
        span.sb-good-anchor__icon.sb-good-anchor__icon_declare.sb-icon
        span.si-link__text Заявить об убытке
    .sb-good-anchor__instance
      a.si-link(href="#434434f9-f563-48bc-ac1a-1900c7c3a196")
        span.sb-good-anchor__icon.sb-good-anchor__icon_answers.sb-icon
        span.si-link__text Вопросы и ответы
    .sb-good-anchor__instance
      a.si-link(href="#434434f9-f563-48bc-ac1a-1900c7c3a196")
        span.sb-good-anchor__icon.sb-good-anchor__icon_files.sb-icon
        span.si-link__text Документы
  
  .si-good-section.si-good-section-hero(style="background-image: url('/assets/images/background.png')")
    .container.container_s_m
      .si-good-section-hero__overlay
      .si-good-section-hero__content
        .si-good-section-hero__caption Защита карт Онлайн
        .si-good-section-hero__text Продукт, предназначенный для личной защиты от непредвиденных рисков, возникающих в поездке. Программа включает в себя защиту здоровья, обеспечение непредвиденных транспортных расходов, а также юридическую помощь и гражданскую ответственность перед третьими лицами.
        .si-good-section-hero__action
          a.sb-button.sb-button_s_m.sb-button_theme_white(href="#")
            span.sb-button__text Оформить полис
      a.si-good-section__anchor(href="#")
        
  .si-good-section
    .container.container_s_m
      .r.r_s_m.r_a_b
        .r__c.r__c_md_4
          .si-layout-section.si-layout-section_s_m
            .si-good-caption
              .si-good-caption__text Для чего нужен полис:
        .r__c.r__c_md_8
          .si-layout-section.si-layout-section_s_m
            .sb-wysiwyg
              .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                p Защита карт и любых банковских операций по карте
          .si-layout-section.si-layout-section_s_m
            .r.r_s_m
              .r__c.r__c_md_6
                .sb-good-card-feature
                  .sb-good-card-feature__image: img(src="/assets/images/good-card-feature-1.png", srcset="/assets/images/good-card-feature-1_2x.png 2x", alt="")
                  .sb-good-card-feature__content
                    .sb-good-card-feature__caption: span Операции за рубежом
                    .sb-good-card-feature__text(style="margin-top: 0") Спокойно расплачивайтесь картой за рубежом – защита действует по всему миру
              .r__c.r__c_md_6
                .sb-good-card-feature
                  .sb-good-card-feature__image: img(src="/assets/images/good-card-feature-2.png", srcset="/assets/images/good-card-feature-2_2x.png 2x", alt="")
                  .sb-good-card-feature__content
                    .sb-good-card-feature__caption: span Операции в интернете
                    .sb-good-card-feature__text(style="margin-top: 0") Спокойно расплачивайтесь картой в интернете – мы покрываем риски фишинга
          .si-layout-section.si-layout-section_s_m
            .r.r_s_m
              .r__c.r__c_md_6
                .sb-good-card-feature
                  .sb-good-card-feature__image: img(src="/assets/images/good-card-feature-3.png", srcset="/assets/images/good-card-feature-3_2x.png 2x", alt="")
                  .sb-good-card-feature__content
                    .sb-good-card-feature__caption: span Выдача наличных в банкоматах
                    .sb-good-card-feature__text Спокойно снимайте деньги в любых банкоматах. «Сбербанк страхование» покрывает риски скимминга – установки на банкоматы устройств, снимающих данные карты и PIN-код
              .r__c.r__c_md_6
                .sb-good-card-feature
                  .sb-good-card-feature__image: img(src="/assets/images/good-card-feature-4.png", srcset="/assets/images/good-card-feature-4_2x.png 2x", alt="")
                  .sb-good-card-feature__content
                    .sb-good-card-feature__caption: span Операции с банкоматом в позднее время
                    .sb-good-card-feature__text «Сбербанк страхование» компенсирует денежные потери не только от несанкционированных операций по картам, но и возвращает деньги после ограбления или иных противоправных действий третьих лиц

  include ../partials/_section_activate
  
  .si-good-section
    .container.container_s_m
      .si-layout-section.si-layout-section_s_m
        .si-good-caption
          .si-good-caption__text Стоимость полиса
      .si-layout-section.si-layout-section_s_m
        .si-good-calc
          form(ng-init="insuranceSum = 700")
            .si-good-calc-row
              .r.r_s_m.r_a_c
                .r__c.r__c_md_4
                  .si-good-calc-row__caption Сумма страховой защиты:
                .r__c.r__c_md_8
                  .r.r_s_m
                    .r__c.r__c_md_3
                      label.sb-good-radio
                        input(type="radio" ng-model='insuranceSum' ng-value="700")
                        span.sb-good-radio__box
                        span.sb-good-radio__text
                          span.sb-currency 30 000
                    .r__c.r__c_md_3
                      label.sb-good-radio
                        input(type="radio" ng-model='insuranceSum' ng-value="1710")
                        span.sb-good-radio__box
                        span.sb-good-radio__text
                          span.sb-currency 120 000
                    .r__c.r__c_md_3
                      label.sb-good-radio
                        input(type="radio" ng-model='insuranceSum' ng-value="3510")
                        span.sb-good-radio__box
                        span.sb-good-radio__text
                          span.sb-currency 250 000
            .si-good-calc-row
              .r.r_s_m
                .r__c.r__c_md_4
                .r__c.r__c_md_8
                  .r.r_s_m
                    .r__c.r__c_md_6
                      .si-good-calc-sum
                        span.si-good-calc-sum__label Итоговая стоимость: 
                        span.si-good-calc-sum__n
                          span.sb-currency(ng-bind="insuranceSum")
                    .r__c.r__c_md_6
                      .si-good-calc-sum
                        span.si-good-calc-sum__label Срок действия: 
                        span.si-good-calc-sum__n 1 год
          .r.r_s_m
            .r__c.r__c_1_3
            .r__c.r__c_2_3
              a.sb-button.sb-button_s_m.sb-button_theme_green(href="#")
                span.sb-button__text Оформить полис

  .si-good-section.si-good-section_background_grey
    .container.container_s_m
      .si-layout-section.si-layout-section_s_m
        .si-good-caption.si-good-caption_accentuated
          .si-good-caption__text Страховая защита
      .si-layout-section.si-layout-section_s_m
        si-good-tabs
          si-good-tabs-pane(title="От чего застраховано")
            si-good-accordion.si-good-accordion_theme_2
              si-good-accordion-pane
                .si-good-accordion__head
                  .si-good-accordion__badge 01
                  .si-good-accordion__caption Несанкционированное снятие денежных средств с карты путем:
                .si-good-accordion__body
                  .sb-wysiwyg
                    .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                      p Перечень застрахованных рисков, исключения из страхового покрытия, а также сроки его действия закреплены в конкретном Страховом полисе и Правилах страхования.
                      p Если произошедшее событие предусмотрено Страховым полисом и (или) Правилами страхования, следует обеспечить его документальное оформление и собрать комплект необходимых документов.

              si-good-accordion-pane
                .si-good-accordion__head
                  .si-good-accordion__badge 02
                  .si-good-accordion__caption Утрата банковской карты:
                .si-good-accordion__body
                  .sb-wysiwyg
                    .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                      p Перечень застрахованных рисков, исключения из страхового покрытия, а также сроки его действия закреплены в конкретном Страховом полисе и Правилах страхования.
                      p Если произошедшее событие предусмотрено Страховым полисом и (или) Правилами страхования, следует обеспечить его документальное оформление и собрать комплект необходимых документов.

              si-good-accordion-pane
                .si-good-accordion__head
                  .si-good-accordion__badge 03
                  .si-good-accordion__caption Хищение наличных денежных средств
                .si-good-accordion__body
                  .sb-wysiwyg
                    .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                      p Перечень застрахованных рисков, исключения из страхового покрытия, а также сроки его действия закреплены в конкретном Страховом полисе и Правилах страхования.
                      p Если произошедшее событие предусмотрено Страховым полисом и (или) Правилами страхования, следует обеспечить его документальное оформление и собрать комплект необходимых документов.
          si-good-tabs-pane(title="Что застраховано")
            si-good-accordion.si-good-accordion_theme_2
              si-good-accordion-pane
                .si-good-accordion__head
                  .si-good-accordion__badge 01
                  .si-good-accordion__caption Проверить, предусмотрено ли произошедшее событие условиями предоставляемой страховой услуги
                .si-good-accordion__body
                  .sb-wysiwyg
                    .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                      p Перечень застрахованных рисков, исключения из страхового покрытия, а также сроки его действия закреплены в конкретном Страховом полисе и Правилах страхования.
                      p Если произошедшее событие предусмотрено Страховым полисом и (или) Правилами страхования, следует обеспечить его документальное оформление и собрать комплект необходимых документов.

              si-good-accordion-pane
                .si-good-accordion__head
                  .si-good-accordion__badge 02
                  .si-good-accordion__caption Подготовить/собрать нужные документы
                .si-good-accordion__body
                  .sb-wysiwyg
                    .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                      p Перечень застрахованных рисков, исключения из страхового покрытия, а также сроки его действия закреплены в конкретном Страховом полисе и Правилах страхования.
                      p Если произошедшее событие предусмотрено Страховым полисом и (или) Правилами страхования, следует обеспечить его документальное оформление и собрать комплект необходимых документов.

              si-good-accordion-pane
                .si-good-accordion__head
                  .si-good-accordion__badge 03
                  .si-good-accordion__caption Представить документы в отделение ООО «Сбербанк страхование жизни»
                .si-good-accordion__body
                  .sb-wysiwyg
                    .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                      p Перечень застрахованных рисков, исключения из страхового покрытия, а также сроки его действия закреплены в конкретном Страховом полисе и Правилах страхования.
                      p Если произошедшее событие предусмотрено Страховым полисом и (или) Правилами страхования, следует обеспечить его документальное оформление и собрать комплект необходимых документов.


  include ../partials/_section-steps
  include ../partials/_section-actions
  include ../partials/_section-declare
