extends ../_layout.jade
  
block layout
  .si-layout__body
    +b.container._s_m
      +b.si-post-card
        +e.head
          +e.image
          +e.overlay
          +e.tag_category_business-and-jobs
            +e.tag-icon
            +e.tag-text jsdgljsdg
        +e.body
        +e.footer
