@font-face
  font-weight 400
  font-style normal
  font-family 'Circe'
  src url($fonts-path + 'Circe-Regular.eot')
  src url($fonts-path + 'Circe-Regular.eot?#iefix') format('embedded-opentype'),
      url($fonts-path + 'Circe-Regular.woff') format('woff'),
      url($fonts-path + 'Circe-Regular.ttf') format('truetype'),
      url($fonts-path + 'Circe-Regular.svg#Circe-Regular') format('svg')


@font-face
  font-weight 300
  font-style normal
  font-family 'Fedra Sans'
  src url($fonts-path + 'FedraSansPro-LightLF.eot')
  src  url($fonts-path + 'FedraSansPro-LightLF.eot?#iefix') format('embedded-opentype'),
      url($fonts-path + 'FedraSansPro-LightLF.woff') format('woff'),
      url($fonts-path + 'FedraSansPro-LightLF.ttf') format('truetype'),
      url($fonts-path + 'FedraSansPro-LightLF.svg#FedraSansPro-LightLF') format('svg')

@font-face
  font-weight 300
  font-style italic
  font-family 'Fedra Sans'
  src url($fonts-path + 'FedraSansPro-LightItalicLF.eot')
  src  url($fonts-path + 'FedraSansPro-LightItalicLF.eot?#iefix') format('embedded-opentype'),
      url($fonts-path + 'FedraSansPro-LightItalicLF.woff') format('woff'),
      url($fonts-path + 'FedraSansPro-LightItalicLF.ttf') format('truetype'),
      url($fonts-path + 'FedraSansPro-LightItalicLF.svg#FedraSansPro-LightItalicLF') format('svg')

@font-face
  font-weight 400
  font-style normal
  font-family 'Fedra Sans'
  src url($fonts-path + 'FedraSansPro-BookLF.eot')
  src  url($fonts-path + 'FedraSansPro-BookLF.eot?#iefix') format('embedded-opentype'),
      url($fonts-path + 'FedraSansPro-BookLF.woff') format('woff'),
      url($fonts-path + 'FedraSansPro-BookLF.ttf') format('truetype'),
      url($fonts-path + 'FedraSansPro-BookLF.svg#FedraSansPro-BookLF') format('svg')

@font-face
  font-weight 400
  font-style italic
  font-family 'Fedra Sans'
  src url($fonts-path + 'FedraSansPro-BookItalicLF.eot')
  src  url($fonts-path + 'FedraSansPro-BookItalicLF.eot?#iefix') format('embedded-opentype'),
      url($fonts-path + 'FedraSansPro-BookItalicLF.woff') format('woff'),
      url($fonts-path + 'FedraSansPro-BookItalicLF.ttf') format('truetype'),
      url($fonts-path + 'FedraSansPro-BookItalicLF.svg#FedraSansPro-BookItalicLF') format('svg')

@font-face
  font-weight 500
  font-style normal
  font-family 'Fedra Sans'
  src url($fonts-path + 'FedraSansPro-DemiLF.eot')
  src url($fonts-path + 'FedraSansPro-DemiLF.eot?#iefix') format('embedded-opentype'),
      url($fonts-path + 'FedraSansPro-DemiLF.woff') format('woff'),
      url($fonts-path + 'FedraSansPro-DemiLF.ttf') format('truetype'),
      url($fonts-path + 'FedraSansPro-DemiLF.svg#FedraSansPro-DemiLF') format('svg')

@font-face
  font-weight 500
  font-style italic
  font-family 'Fedra Sans'
  src url($fonts-path + 'FedraSansPro-DemiItalicLF.eot')
  src url($fonts-path + 'FedraSansPro-DemiItalicLF.eot?#iefix') format('embedded-opentype'),
      url($fonts-path + 'FedraSansPro-DemiItalicLF.woff') format('woff'),
      url($fonts-path + 'FedraSansPro-DemiItalicLF.ttf') format('truetype'),
      url($fonts-path + 'FedraSansPro-DemiItalicLF.svg#FedraSansPro-DemiItalicLF') format('svg')

@font-face
  font-weight 600
  font-style normal
  font-family 'Fedra Sans'
  src url($fonts-path + 'FedraSansPro-MediumLF.eot')
  src url($fonts-path + 'FedraSansPro-MediumLF.eot?#iefix') format('embedded-opentype'),
      url($fonts-path + 'FedraSansPro-MediumLF.woff') format('woff'),
      url($fonts-path + 'FedraSansPro-MediumLF.ttf') format('truetype'),
      url($fonts-path + 'FedraSansPro-MediumLF.svg#FedraSansPro-MediumLF') format('svg')

@font-face
  font-weight 600
  font-style italic
  font-family 'Fedra Sans'
  src url($fonts-path + 'FedraSansPro-MediumItalicLF.eot')
  src url($fonts-path + 'FedraSansPro-MediumItalicLF.eot?#iefix') format('embedded-opentype'),
      url($fonts-path + 'FedraSansPro-MediumItalicLF.woff') format('woff'),
      url($fonts-path + 'FedraSansPro-MediumItalicLF.ttf') format('truetype'),
      url($fonts-path + 'FedraSansPro-MediumItalicLF.svg#FedraSansPro-MediumItalicLF') format('svg')

@font-face
  font-weight 700
  font-style normal
  font-family 'Fedra Sans'
  src url($fonts-path + 'FedraSansPro-BoldLF.eot')
  src url($fonts-path + 'FedraSansPro-BoldLF.eot?#iefix') format('embedded-opentype'),
      url($fonts-path + 'FedraSansPro-BoldLF.woff') format('woff'),
      url($fonts-path + 'FedraSansPro-BoldLF.ttf') format('truetype'),
      url($fonts-path + 'FedraSansPro-BoldLF.svg#FedraSansPro-BoldLF') format('svg')
