*,
*::before,
*::after
  box-sizing border-box

html
  -ms-text-size-adjust 100%
  -webkit-tap-highlight-color transparent
  -webkit-text-size-adjust 100%
  -webkit-touch-callout none
  overflow-x hidden
  text-rendering geometricprecision

html
input
textarea
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased

body
  letter-spacing .02em
  font-family 'Fedra Sans', sans-serif

a
  outline 0
  color inherit
  text-decoration none
  cursor pointer

img
textarea
  vertical-align top

svg
  fill currentcolor
  vertical-align top
  shape-rendering geometricprecision
