logo-x = -4px
logo-y = -4px
logo-width = 276px
logo-height = 24px
logo = logo-x logo-y logo-width logo-height
logo_white-x = -4px
logo_white-y = -36px
logo_white-width = 275px
logo_white-height = 24px
logo_white = logo_white-x logo_white-y logo_white-width logo_white-height
ic_good_radio_house-x = -4px
ic_good_radio_house-y = -68px
ic_good_radio_house-width = 80px
ic_good_radio_house-height = 80px
ic_good_radio_house = ic_good_radio_house-x ic_good_radio_house-y ic_good_radio_house-width ic_good_radio_house-height
ic_good_radio_apartment-x = -92px
ic_good_radio_apartment-y = -68px
ic_good_radio_apartment-width = 80px
ic_good_radio_apartment-height = 80px
ic_good_radio_apartment = ic_good_radio_apartment-x ic_good_radio_apartment-y ic_good_radio_apartment-width ic_good_radio_apartment-height
ic_good_play-x = -180px
ic_good_play-y = -68px
ic_good_play-width = 86px
ic_good_play-height = 60px
ic_good_play = ic_good_play-x ic_good_play-y ic_good_play-width ic_good_play-height
ic_doc-x = -4px
ic_doc-y = -156px
ic_doc-width = 60px
ic_doc-height = 72px
ic_doc = ic_doc-x ic_doc-y ic_doc-width ic_doc-height
ic_menu_goods_icon_abroard-x = -72px
ic_menu_goods_icon_abroard-y = -156px
ic_menu_goods_icon_abroard-width = 64px
ic_menu_goods_icon_abroard-height = 64px
ic_menu_goods_icon_abroard = ic_menu_goods_icon_abroard-x ic_menu_goods_icon_abroard-y ic_menu_goods_icon_abroard-width ic_menu_goods_icon_abroard-height
ic_menu_goods_icon_unexpected-x = -144px
ic_menu_goods_icon_unexpected-y = -156px
ic_menu_goods_icon_unexpected-width = 64px
ic_menu_goods_icon_unexpected-height = 64px
ic_menu_goods_icon_unexpected = ic_menu_goods_icon_unexpected-x ic_menu_goods_icon_unexpected-y ic_menu_goods_icon_unexpected-width ic_menu_goods_icon_unexpected-height
ic_menu_goods_icon_life-x = -216px
ic_menu_goods_icon_life-y = -156px
ic_menu_goods_icon_life-width = 64px
ic_menu_goods_icon_life-height = 64px
ic_menu_goods_icon_life = ic_menu_goods_icon_life-x ic_menu_goods_icon_life-y ic_menu_goods_icon_life-width ic_menu_goods_icon_life-height
ic_menu_goods_icon_investing-x = -288px
ic_menu_goods_icon_investing-y = -4px
ic_menu_goods_icon_investing-width = 64px
ic_menu_goods_icon_investing-height = 64px
ic_menu_goods_icon_investing = ic_menu_goods_icon_investing-x ic_menu_goods_icon_investing-y ic_menu_goods_icon_investing-width ic_menu_goods_icon_investing-height
ic_menu_goods_icon_house-x = -288px
ic_menu_goods_icon_house-y = -76px
ic_menu_goods_icon_house-width = 64px
ic_menu_goods_icon_house-height = 64px
ic_menu_goods_icon_house = ic_menu_goods_icon_house-x ic_menu_goods_icon_house-y ic_menu_goods_icon_house-width ic_menu_goods_icon_house-height
ic_declare_yellow_60px-x = -288px
ic_declare_yellow_60px-y = -148px
ic_declare_yellow_60px-width = 60px
ic_declare_yellow_60px-height = 60px
ic_declare_yellow_60px = ic_declare_yellow_60px-x ic_declare_yellow_60px-y ic_declare_yellow_60px-width ic_declare_yellow_60px-height
ic_activate_yellow_57px-x = -4px
ic_activate_yellow_57px-y = -236px
ic_activate_yellow_57px-width = 57px
ic_activate_yellow_57px-height = 62px
ic_activate_yellow_57px = ic_activate_yellow_57px-x ic_activate_yellow_57px-y ic_activate_yellow_57px-width ic_activate_yellow_57px-height
category_travel-and-adventure_48px-x = -69px
category_travel-and-adventure_48px-y = -236px
category_travel-and-adventure_48px-width = 48px
category_travel-and-adventure_48px-height = 48px
category_travel-and-adventure_48px = category_travel-and-adventure_48px-x category_travel-and-adventure_48px-y category_travel-and-adventure_48px-width category_travel-and-adventure_48px-height
category_big-city_48px-x = -125px
category_big-city_48px-y = -236px
category_big-city_48px-width = 48px
category_big-city_48px-height = 48px
category_big-city_48px = category_big-city_48px-x category_big-city_48px-y category_big-city_48px-width category_big-city_48px-height
category_business-and-jobs_48px-x = -181px
category_business-and-jobs_48px-y = -236px
category_business-and-jobs_48px-width = 48px
category_business-and-jobs_48px-height = 48px
category_business-and-jobs_48px = category_business-and-jobs_48px-x category_business-and-jobs_48px-y category_business-and-jobs_48px-width category_business-and-jobs_48px-height
category_family-and-house_48px-x = -237px
category_family-and-house_48px-y = -236px
category_family-and-house_48px-width = 48px
category_family-and-house_48px-height = 48px
category_family-and-house_48px = category_family-and-house_48px-x category_family-and-house_48px-y category_family-and-house_48px-width category_family-and-house_48px-height
category_flourishing-of-life_48px-x = -293px
category_flourishing-of-life_48px-y = -236px
category_flourishing-of-life_48px-width = 48px
category_flourishing-of-life_48px-height = 48px
category_flourishing-of-life_48px = category_flourishing-of-life_48px-x category_flourishing-of-life_48px-y category_flourishing-of-life_48px-width category_flourishing-of-life_48px-height
dialog-close-x = -4px
dialog-close-y = -306px
dialog-close-width = 40px
dialog-close-height = 40px
dialog-close = dialog-close-x dialog-close-y dialog-close-width dialog-close-height
si-post-card-accent-video-x = -52px
si-post-card-accent-video-y = -306px
si-post-card-accent-video-width = 38px
si-post-card-accent-video-height = 38px
si-post-card-accent-video = si-post-card-accent-video-x si-post-card-accent-video-y si-post-card-accent-video-width si-post-card-accent-video-height
si-post-card-accent-gallery-x = -98px
si-post-card-accent-gallery-y = -306px
si-post-card-accent-gallery-width = 38px
si-post-card-accent-gallery-height = 38px
si-post-card-accent-gallery = si-post-card-accent-gallery-x si-post-card-accent-gallery-y si-post-card-accent-gallery-width si-post-card-accent-gallery-height
ic_aic-x = -144px
ic_aic-y = -306px
ic_aic-width = 52px
ic_aic-height = 27px
ic_aic = ic_aic-x ic_aic-y ic_aic-width ic_aic-height
ic_slider_prev_green_30px-x = -360px
ic_slider_prev_green_30px-y = -4px
ic_slider_prev_green_30px-width = 30px
ic_slider_prev_green_30px-height = 30px
ic_slider_prev_green_30px = ic_slider_prev_green_30px-x ic_slider_prev_green_30px-y ic_slider_prev_green_30px-width ic_slider_prev_green_30px-height
ic_slider_prev_black_30px-x = -360px
ic_slider_prev_black_30px-y = -42px
ic_slider_prev_black_30px-width = 30px
ic_slider_prev_black_30px-height = 30px
ic_slider_prev_black_30px = ic_slider_prev_black_30px-x ic_slider_prev_black_30px-y ic_slider_prev_black_30px-width ic_slider_prev_black_30px-height
ic_slider_next_black_30px-x = -360px
ic_slider_next_black_30px-y = -80px
ic_slider_next_black_30px-width = 30px
ic_slider_next_black_30px-height = 30px
ic_slider_next_black_30px = ic_slider_next_black_30px-x ic_slider_next_black_30px-y ic_slider_next_black_30px-width ic_slider_next_black_30px-height
ic_slider_next_green_30px-x = -360px
ic_slider_next_green_30px-y = -118px
ic_slider_next_green_30px-width = 30px
ic_slider_next_green_30px-height = 30px
ic_slider_next_green_30px = ic_slider_next_green_30px-x ic_slider_next_green_30px-y ic_slider_next_green_30px-width ic_slider_next_green_30px-height
si-article-blockqoute-x = -204px
si-article-blockqoute-y = -306px
si-article-blockqoute-width = 33px
si-article-blockqoute-height = 26px
si-article-blockqoute = si-article-blockqoute-x si-article-blockqoute-y si-article-blockqoute-width si-article-blockqoute-height
si-radio_theme_a_checked-x = -360px
si-radio_theme_a_checked-y = -156px
si-radio_theme_a_checked-width = 26px
si-radio_theme_a_checked-height = 26px
si-radio_theme_a_checked = si-radio_theme_a_checked-x si-radio_theme_a_checked-y si-radio_theme_a_checked-width si-radio_theme_a_checked-height
si-radio_theme_a-x = -360px
si-radio_theme_a-y = -190px
si-radio_theme_a-width = 26px
si-radio_theme_a-height = 26px
si-radio_theme_a = si-radio_theme_a-x si-radio_theme_a-y si-radio_theme_a-width si-radio_theme_a-height
ic_search_black_24px-x = -360px
ic_search_black_24px-y = -224px
ic_search_black_24px-width = 24px
ic_search_black_24px-height = 24px
ic_search_black_24px = ic_search_black_24px-x ic_search_black_24px-y ic_search_black_24px-width ic_search_black_24px-height
type_life_button_white-x = -360px
type_life_button_white-y = -256px
type_life_button_white-width = 24px
type_life_button_white-height = 24px
type_life_button_white = type_life_button_white-x type_life_button_white-y type_life_button_white-width type_life_button_white-height
type_family_button-x = -360px
type_family_button-y = -288px
type_family_button-width = 24px
type_family_button-height = 24px
type_family_button = type_family_button-x type_family_button-y type_family_button-width type_family_button-height
ic_anchor_action_24px-x = -360px
ic_anchor_action_24px-y = -320px
ic_anchor_action_24px-width = 24px
ic_anchor_action_24px-height = 24px
ic_anchor_action_24px = ic_anchor_action_24px-x ic_anchor_action_24px-y ic_anchor_action_24px-width ic_anchor_action_24px-height
ic_anchor_about_24px-x = -245px
ic_anchor_about_24px-y = -306px
ic_anchor_about_24px-width = 24px
ic_anchor_about_24px-height = 24px
ic_anchor_about_24px = ic_anchor_about_24px-x ic_anchor_about_24px-y ic_anchor_about_24px-width ic_anchor_about_24px-height
type_family_button_white-x = -277px
type_family_button_white-y = -306px
type_family_button_white-width = 24px
type_family_button_white-height = 24px
type_family_button_white = type_family_button_white-x type_family_button_white-y type_family_button_white-width type_family_button_white-height
type_city_button-x = -309px
type_city_button-y = -306px
type_city_button-width = 24px
type_city_button-height = 24px
type_city_button = type_city_button-x type_city_button-y type_city_button-width type_city_button-height
type_city_button_white-x = -4px
type_city_button_white-y = -354px
type_city_button_white-width = 24px
type_city_button_white-height = 24px
type_city_button_white = type_city_button_white-x type_city_button_white-y type_city_button_white-width type_city_button_white-height
ic_anchor_answers_24px-x = -36px
ic_anchor_answers_24px-y = -354px
ic_anchor_answers_24px-width = 24px
ic_anchor_answers_24px-height = 24px
ic_anchor_answers_24px = ic_anchor_answers_24px-x ic_anchor_answers_24px-y ic_anchor_answers_24px-width ic_anchor_answers_24px-height
ic_accident_white_24px-x = -68px
ic_accident_white_24px-y = -354px
ic_accident_white_24px-width = 24px
ic_accident_white_24px-height = 24px
ic_accident_white_24px = ic_accident_white_24px-x ic_accident_white_24px-y ic_accident_white_24px-width ic_accident_white_24px-height
ic_accident_black_24px-x = -100px
ic_accident_black_24px-y = -354px
ic_accident_black_24px-width = 24px
ic_accident_black_24px-height = 24px
ic_accident_black_24px = ic_accident_black_24px-x ic_accident_black_24px-y ic_accident_black_24px-width ic_accident_black_24px-height
type_business_button-x = -132px
type_business_button-y = -354px
type_business_button-width = 24px
type_business_button-height = 24px
type_business_button = type_business_button-x type_business_button-y type_business_button-width type_business_button-height
type_business_button_white-x = -164px
type_business_button_white-y = -354px
type_business_button_white-width = 24px
type_business_button_white-height = 24px
type_business_button_white = type_business_button_white-x type_business_button_white-y type_business_button_white-width type_business_button_white-height
ic_anchor_declare_24px-x = -196px
ic_anchor_declare_24px-y = -354px
ic_anchor_declare_24px-width = 24px
ic_anchor_declare_24px-height = 24px
ic_anchor_declare_24px = ic_anchor_declare_24px-x ic_anchor_declare_24px-y ic_anchor_declare_24px-width ic_anchor_declare_24px-height
ic_anchor_files_24px-x = -228px
ic_anchor_files_24px-y = -354px
ic_anchor_files_24px-width = 24px
ic_anchor_files_24px-height = 24px
ic_anchor_files_24px = ic_anchor_files_24px-x ic_anchor_files_24px-y ic_anchor_files_24px-width ic_anchor_files_24px-height
ic_menu_black_24px-x = -260px
ic_menu_black_24px-y = -354px
ic_menu_black_24px-width = 24px
ic_menu_black_24px-height = 24px
ic_menu_black_24px = ic_menu_black_24px-x ic_menu_black_24px-y ic_menu_black_24px-width ic_menu_black_24px-height
footer-youtube-x = -292px
footer-youtube-y = -354px
footer-youtube-width = 24px
footer-youtube-height = 24px
footer-youtube = footer-youtube-x footer-youtube-y footer-youtube-width footer-youtube-height
footer-vk-x = -324px
footer-vk-y = -354px
footer-vk-width = 24px
footer-vk-height = 24px
footer-vk = footer-vk-x footer-vk-y footer-vk-width footer-vk-height
footer-twitter-x = -356px
footer-twitter-y = -354px
footer-twitter-width = 24px
footer-twitter-height = 24px
footer-twitter = footer-twitter-x footer-twitter-y footer-twitter-width footer-twitter-height
footer-odnoklassniki-x = -398px
footer-odnoklassniki-y = -4px
footer-odnoklassniki-width = 24px
footer-odnoklassniki-height = 24px
footer-odnoklassniki = footer-odnoklassniki-x footer-odnoklassniki-y footer-odnoklassniki-width footer-odnoklassniki-height
footer-instagram-x = -398px
footer-instagram-y = -36px
footer-instagram-width = 24px
footer-instagram-height = 24px
footer-instagram = footer-instagram-x footer-instagram-y footer-instagram-width footer-instagram-height
ic_anchor_info_24px-x = -398px
ic_anchor_info_24px-y = -68px
ic_anchor_info_24px-width = 24px
ic_anchor_info_24px-height = 24px
ic_anchor_info_24px = ic_anchor_info_24px-x ic_anchor_info_24px-y ic_anchor_info_24px-width ic_anchor_info_24px-height
ic_anchor_issue_24px-x = -398px
ic_anchor_issue_24px-y = -100px
ic_anchor_issue_24px-width = 24px
ic_anchor_issue_24px-height = 24px
ic_anchor_issue_24px = ic_anchor_issue_24px-x ic_anchor_issue_24px-y ic_anchor_issue_24px-width ic_anchor_issue_24px-height
ic_power_black_24px-x = -398px
ic_power_black_24px-y = -132px
ic_power_black_24px-width = 24px
ic_power_black_24px-height = 24px
ic_power_black_24px = ic_power_black_24px-x ic_power_black_24px-y ic_power_black_24px-width ic_power_black_24px-height
ic_power_white_24px-x = -398px
ic_power_white_24px-y = -164px
ic_power_white_24px-width = 24px
ic_power_white_24px-height = 24px
ic_power_white_24px = ic_power_white_24px-x ic_power_white_24px-y ic_power_white_24px-width ic_power_white_24px-height
ic_anchor_location_24px-x = -398px
ic_anchor_location_24px-y = -196px
ic_anchor_location_24px-width = 24px
ic_anchor_location_24px-height = 24px
ic_anchor_location_24px = ic_anchor_location_24px-x ic_anchor_location_24px-y ic_anchor_location_24px-width ic_anchor_location_24px-height
ic_anchor_coins_24px-x = -398px
ic_anchor_coins_24px-y = -228px
ic_anchor_coins_24px-width = 24px
ic_anchor_coins_24px-height = 24px
ic_anchor_coins_24px = ic_anchor_coins_24px-x ic_anchor_coins_24px-y ic_anchor_coins_24px-width ic_anchor_coins_24px-height
ic_signin_black_24px-x = -398px
ic_signin_black_24px-y = -260px
ic_signin_black_24px-width = 24px
ic_signin_black_24px-height = 24px
ic_signin_black_24px = ic_signin_black_24px-x ic_signin_black_24px-y ic_signin_black_24px-width ic_signin_black_24px-height
ic_signin_white_24px-x = -398px
ic_signin_white_24px-y = -292px
ic_signin_white_24px-width = 24px
ic_signin_white_24px-height = 24px
ic_signin_white_24px = ic_signin_white_24px-x ic_signin_white_24px-y ic_signin_white_24px-width ic_signin_white_24px-height
ic_anchor_power_24px-x = -398px
ic_anchor_power_24px-y = -324px
ic_anchor_power_24px-width = 24px
ic_anchor_power_24px-height = 24px
ic_anchor_power_24px = ic_anchor_power_24px-x ic_anchor_power_24px-y ic_anchor_power_24px-width ic_anchor_power_24px-height
ic_anchor_video_24px-x = -4px
ic_anchor_video_24px-y = -386px
ic_anchor_video_24px-width = 24px
ic_anchor_video_24px-height = 24px
ic_anchor_video_24px = ic_anchor_video_24px-x ic_anchor_video_24px-y ic_anchor_video_24px-width ic_anchor_video_24px-height
ic_basket_black_24px-x = -36px
ic_basket_black_24px-y = -386px
ic_basket_black_24px-width = 24px
ic_basket_black_24px-height = 24px
ic_basket_black_24px = ic_basket_black_24px-x ic_basket_black_24px-y ic_basket_black_24px-width ic_basket_black_24px-height
type_travel_button_white-x = -68px
type_travel_button_white-y = -386px
type_travel_button_white-width = 24px
type_travel_button_white-height = 24px
type_travel_button_white = type_travel_button_white-x type_travel_button_white-y type_travel_button_white-width type_travel_button_white-height
type_life_button-x = -100px
type_life_button-y = -386px
type_life_button-width = 24px
type_life_button-height = 24px
type_life_button = type_life_button-x type_life_button-y type_life_button-width type_life_button-height
footer-facebook-x = -132px
footer-facebook-y = -386px
footer-facebook-width = 24px
footer-facebook-height = 24px
footer-facebook = footer-facebook-x footer-facebook-y footer-facebook-width footer-facebook-height
type_travel_button-x = -164px
type_travel_button-y = -386px
type_travel_button-width = 24px
type_travel_button-height = 24px
type_travel_button = type_travel_button-x type_travel_button-y type_travel_button-width type_travel_button-height
ic-calendar-x = -196px
ic-calendar-y = -386px
ic-calendar-width = 22px
ic-calendar-height = 24px
ic-calendar = ic-calendar-x ic-calendar-y ic-calendar-width ic-calendar-height
si-request_prev-x = -226px
si-request_prev-y = -386px
si-request_prev-width = 26px
si-request_prev-height = 20px
si-request_prev = si-request_prev-x si-request_prev-y si-request_prev-width si-request_prev-height
ic_close_menu-x = -398px
ic_close_menu-y = -356px
ic_close_menu-width = 20px
ic_close_menu-height = 20px
ic_close_menu = ic_close_menu-x ic_close_menu-y ic_close_menu-width ic_close_menu-height
si-breadcrumbs__link-x = -430px
si-breadcrumbs__link-y = -4px
si-breadcrumbs__link-width = 14px
si-breadcrumbs__link-height = 24px
si-breadcrumbs__link = si-breadcrumbs__link-x si-breadcrumbs__link-y si-breadcrumbs__link-width si-breadcrumbs__link-height
ic_likes_green_16px-x = -260px
ic_likes_green_16px-y = -386px
ic_likes_green_16px-width = 17px
ic_likes_green_16px-height = 16px
ic_likes_green_16px = ic_likes_green_16px-x ic_likes_green_16px-y ic_likes_green_16px-width ic_likes_green_16px-height
ic_likes_black_16px-x = -285px
ic_likes_black_16px-y = -386px
ic_likes_black_16px-width = 17px
ic_likes_black_16px-height = 16px
ic_likes_black_16px = ic_likes_black_16px-x ic_likes_black_16px-y ic_likes_black_16px-width ic_likes_black_16px-height
ic_likes_16px-x = -310px
ic_likes_16px-y = -386px
ic_likes_16px-width = 17px
ic_likes_16px-height = 16px
ic_likes_16px = ic_likes_16px-x ic_likes_16px-y ic_likes_16px-width ic_likes_16px-height
si-pagination__arrow-x = -430px
si-pagination__arrow-y = -36px
si-pagination__arrow-width = 12px
si-pagination__arrow-height = 22px
si-pagination__arrow = si-pagination__arrow-x si-pagination__arrow-y si-pagination__arrow-width si-pagination__arrow-height
si-article-likes-x = -335px
si-article-likes-y = -386px
si-article-likes-width = 17px
si-article-likes-height = 16px
si-article-likes = si-article-likes-x si-article-likes-y si-article-likes-width si-article-likes-height
ic_comments_green_16px-x = -360px
ic_comments_green_16px-y = -386px
ic_comments_green_16px-width = 16px
ic_comments_green_16px-height = 16px
ic_comments_green_16px = ic_comments_green_16px-x ic_comments_green_16px-y ic_comments_green_16px-width ic_comments_green_16px-height
ic_down_white_16px-x = -384px
ic_down_white_16px-y = -386px
ic_down_white_16px-width = 16px
ic_down_white_16px-height = 16px
ic_down_white_16px = ic_down_white_16px-x ic_down_white_16px-y ic_down_white_16px-width ic_down_white_16px-height
ic_comments_16px-x = -4px
ic_comments_16px-y = -418px
ic_comments_16px-width = 16px
ic_comments_16px-height = 16px
ic_comments_16px = ic_comments_16px-x ic_comments_16px-y ic_comments_16px-width ic_comments_16px-height
si-article-stats-likes-x = -28px
si-article-stats-likes-y = -418px
si-article-stats-likes-width = 16px
si-article-stats-likes-height = 16px
si-article-stats-likes = si-article-stats-likes-x si-article-stats-likes-y si-article-stats-likes-width si-article-stats-likes-height
ic_comments_black_16px-x = -52px
ic_comments_black_16px-y = -418px
ic_comments_black_16px-width = 16px
ic_comments_black_16px-height = 16px
ic_comments_black_16px = ic_comments_black_16px-x ic_comments_black_16px-y ic_comments_black_16px-width ic_comments_black_16px-height
ic_ok_l-x = -430px
ic_ok_l-y = -66px
ic_ok_l-width = 12px
ic_ok_l-height = 20px
ic_ok_l = ic_ok_l-x ic_ok_l-y ic_ok_l-width ic_ok_l-height
ic_vk_l-x = -288px
ic_vk_l-y = -216px
ic_vk_l-width = 20px
ic_vk_l-height = 11px
ic_vk_l = ic_vk_l-x ic_vk_l-y ic_vk_l-width ic_vk_l-height
ic_rss_green_16px-x = -76px
ic_rss_green_16px-y = -418px
ic_rss_green_16px-width = 15px
ic_rss_green_16px-height = 15px
ic_rss_green_16px = ic_rss_green_16px-x ic_rss_green_16px-y ic_rss_green_16px-width ic_rss_green_16px-height
si-quote_o-x = -180px
si-quote_o-y = -136px
si-quote_o-width = 17px
si-quote_o-height = 12px
si-quote_o = si-quote_o-x si-quote_o-y si-quote_o-width si-quote_o-height
si-quote_c-x = -205px
si-quote_c-y = -136px
si-quote_c-width = 17px
si-quote_c-height = 12px
si-quote_c = si-quote_c-x si-quote_c-y si-quote_c-width si-quote_c-height
si-editor-search-action-x = -430px
si-editor-search-action-y = -94px
si-editor-search-action-width = 14px
si-editor-search-action-height = 14px
si-editor-search-action = si-editor-search-action-x si-editor-search-action-y si-editor-search-action-width si-editor-search-action-height
ic_facebook_l-x = -430px
ic_facebook_l-y = -116px
ic_facebook_l-width = 9px
ic_facebook_l-height = 18px
ic_facebook_l = ic_facebook_l-x ic_facebook_l-y ic_facebook_l-width ic_facebook_l-height
ic_ok_s-x = -430px
ic_ok_s-y = -142px
ic_ok_s-width = 10px
ic_ok_s-height = 16px
ic_ok_s = ic_ok_s-x ic_ok_s-y ic_ok_s-width ic_ok_s-height
ic_vk_s-x = -316px
ic_vk_s-y = -216px
ic_vk_s-width = 16px
ic_vk_s-height = 9px
ic_vk_s = ic_vk_s-x ic_vk_s-y ic_vk_s-width ic_vk_s-height
ic_facebook_s-x = -430px
ic_facebook_s-y = -166px
ic_facebook_s-width = 7px
ic_facebook_s-height = 14px
ic_facebook_s = ic_facebook_s-x ic_facebook_s-y ic_facebook_s-width ic_facebook_s-height
si-select-tags-remove-x = -430px
si-select-tags-remove-y = -188px
si-select-tags-remove-width = 10px
si-select-tags-remove-height = 10px
si-select-tags-remove = si-select-tags-remove-x si-select-tags-remove-y si-select-tags-remove-width si-select-tags-remove-height
si-select-arrow-x = -430px
si-select-arrow-y = -206px
si-select-arrow-width = 12px
si-select-arrow-height = 7px
si-select-arrow = si-select-arrow-x si-select-arrow-y si-select-arrow-width si-select-arrow-height
si-article-widget-arrow-x = -430px
si-article-widget-arrow-y = -221px
si-article-widget-arrow-width = 12px
si-article-widget-arrow-height = 6px
si-article-widget-arrow = si-article-widget-arrow-x si-article-widget-arrow-y si-article-widget-arrow-width si-article-widget-arrow-height
ic_menu_arrow-x = -430px
ic_menu_arrow-y = -235px
ic_menu_arrow-width = 7px
ic_menu_arrow-height = 10px
ic_menu_arrow = ic_menu_arrow-x ic_menu_arrow-y ic_menu_arrow-width ic_menu_arrow-height

sprite-image()
    background-image url('/assets/images/sprite.png')
sprite-size()
    background-size 448px 438px
sprite-position($sprite)
    background-position $sprite[0] $sprite[1]
sprite-width($sprite)
    width $sprite[2]
sprite-height($sprite)
    height $sprite[3]
sprite($sprite)
    sprite-image()
    sprite-size()
    sprite-position($sprite)
    sprite-width($sprite)
    sprite-height($sprite)
