.si-good-section.si-good-section_background_grey#anchor-files
  .container.container_s_m
    .si-layout-section.si-layout-section_s_m
      .si-good-caption
        .si-good-caption__text Документация
    .si-layout-section.si-layout-section_s_m
      .r.r_s_m
        .r__c.r__c_md_4
          a.si-good-doc(href="#") Страховые тарифы по страхованию от несчастных случаев
        .r__c.r__c_md_4
          a.si-good-doc(href="#") Заявление на смену Выгодоприобретателя по договору
        .r__c.r__c_md_4
          a.si-good-doc(href="#") Памятка при наступлении страхового случая
        .r__c.r__c_md_4
          a.si-good-doc(href="#") Правила страхования от несчастных случаев
        .r__c.r__c_md_4
          a.si-good-doc(href="#") Заявление об отказе от Договора страхования (до вступления договора в силу)
