.si-good-section.si-good-section_background_green
  .container.container_s_m
    .si-layout-section.si-layout-section_s_m
      .sb-good-declare
        .si-layout-section.si-layout-section_s_m
          .r.r_s_m
            .r__c.r__c_1_2
              .sb-wysiwyg
                .sb-wysiwyg__p.sb-wysiwyg__p_s_l Заявить об убытке Вы можете позвонив <br> по телефону горячей линии:
              a.sb-good-declare__phone(href="tel:88005555595") 8 (800) 555 55 95
            .r__c.r__c_1_2
              .sb-wysiwyg
                .sb-wysiwyg__p.sb-wysiwyg__p_s_l Или оставьте ваш номер телефона, <br> мы перезвоним Вам:
              form.sb-good-declare__form
                .r.r_s_m
                  .r__c.r__c_2_3
                    input.sb-input.sb-input_s_m(type="text")
                  .r__c.r__c_1_3
                    button.sb-button.sb-button_s_m.sb-button_theme_yellow(type="submit")
                      span.sb-button__text Отправить
