.si-good-section#anchor-answers
  .container.container_s_m
    .si-layout-section.si-layout-section_s_m
      .si-good-caption.si-good-caption_accentuated
        .si-good-caption__text Ответы на вопросы
    .si-layout-section.si-layout-section_s_m
      si-good-accordion.si-good-accordion_theme_1
        si-good-accordion-pane
          .si-good-accordion__head
            .si-good-accordion__caption На какой территории застраховано имущество?
          .si-good-accordion__body
            .sb-wysiwyg
              .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                p При утере, хищении или утрате банковской карты, списания сумм по операциям Вам необходимо немедленно позвонить в Банк для блокировки карты и в страховую компанию. 
        
        si-good-accordion-pane
          .si-good-accordion__head
            .si-good-accordion__caption Что такое лимит выплат? Есть ли такой лимит у меня в полисе?
          .si-good-accordion__body
            .sb-wysiwyg
              .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                p При утере, хищении или утрате банковской карты, списания сумм по операциям Вам необходимо немедленно позвонить в Банк для блокировки карты и в страховую компанию. 
        
        si-good-accordion-pane
          .si-good-accordion__head
            .si-good-accordion__caption Могу я произвести оплату за полис в рассрочку?
          .si-good-accordion__body
            .sb-wysiwyg
              .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                p При утере, хищении или утрате банковской карты, списания сумм по операциям Вам необходимо немедленно позвонить в Банк для блокировки карты и в страховую компанию. 
        
        si-good-accordion-pane
          .si-good-accordion__head
            .si-good-accordion__caption Обязательно ли активировать полис?
          .si-good-accordion__body
            .sb-wysiwyg
              .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                p При утере, хищении или утрате банковской карты, списания сумм по операциям Вам необходимо немедленно позвонить в Банк для блокировки карты и в страховую компанию. 
            
        si-good-accordion-pane
          .si-good-accordion__head
            .si-good-accordion__caption Франшиза?
          .si-good-accordion__body
            .sb-wysiwyg
              .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                p При утере, хищении или утрате банковской карты, списания сумм по операциям Вам необходимо немедленно позвонить в Банк для блокировки карты и в страховую компанию. 
            
