.si-good-section.si-good-section_background_grey#anchor-actions
  .container.container_s_m
    .si-layout-section.si-layout-section_s_m
      .si-good-caption.si-good-caption_accentuated
        .si-good-caption__text Действия при страховом случае
    .si-layout-section.si-layout-section_s_m
      si-good-tabs
        si-good-tabs-pane(title="Памятка")
          si-good-accordion.si-good-accordion_theme_2
            si-good-accordion-pane
              .si-good-accordion__head
                .si-good-accordion__badge 01
                .si-good-accordion__caption Проверить, предусмотрено ли произошедшее событие условиями предоставляемой страховой услуги
              .si-good-accordion__body
                .sb-wysiwyg
                  .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                    p Перечень застрахованных рисков, исключения из страхового покрытия, а также сроки его действия закреплены в конкретном Страховом полисе и Правилах страхования.
                    p Если произошедшее событие предусмотрено Страховым полисом и (или) Правилами страхования, следует обеспечить его документальное оформление и собрать комплект необходимых документов.

            si-good-accordion-pane
              .si-good-accordion__head
                .si-good-accordion__badge 02
                .si-good-accordion__caption Подготовить/собрать нужные документы
              .si-good-accordion__body
                .sb-wysiwyg
                  .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                    p Перечень застрахованных рисков, исключения из страхового покрытия, а также сроки его действия закреплены в конкретном Страховом полисе и Правилах страхования.
                    p Если произошедшее событие предусмотрено Страховым полисом и (или) Правилами страхования, следует обеспечить его документальное оформление и собрать комплект необходимых документов.

            si-good-accordion-pane
              .si-good-accordion__head
                .si-good-accordion__badge 03
                .si-good-accordion__caption Представить документы в отделение ООО «Сбербанк страхование жизни»
              .si-good-accordion__body
                .sb-wysiwyg
                  .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                    p Перечень застрахованных рисков, исключения из страхового покрытия, а также сроки его действия закреплены в конкретном Страховом полисе и Правилах страхования.
                    p Если произошедшее событие предусмотрено Страховым полисом и (или) Правилами страхования, следует обеспечить его документальное оформление и собрать комплект необходимых документов.
        si-good-tabs-pane(title="Перечень документов")
          si-good-accordion.si-good-accordion_theme_2
            si-good-accordion-pane
              .si-good-accordion__head
                .si-good-accordion__badge 01
                .si-good-accordion__caption Проверить, предусмотрено ли произошедшее событие условиями предоставляемой страховой услуги
              .si-good-accordion__body
                .sb-wysiwyg
                  .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                    p Перечень застрахованных рисков, исключения из страхового покрытия, а также сроки его действия закреплены в конкретном Страховом полисе и Правилах страхования.
                    p Если произошедшее событие предусмотрено Страховым полисом и (или) Правилами страхования, следует обеспечить его документальное оформление и собрать комплект необходимых документов.

            si-good-accordion-pane
              .si-good-accordion__head
                .si-good-accordion__badge 02
                .si-good-accordion__caption Подготовить/собрать нужные документы
              .si-good-accordion__body
                .sb-wysiwyg
                  .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                    p Перечень застрахованных рисков, исключения из страхового покрытия, а также сроки его действия закреплены в конкретном Страховом полисе и Правилах страхования.
                    p Если произошедшее событие предусмотрено Страховым полисом и (или) Правилами страхования, следует обеспечить его документальное оформление и собрать комплект необходимых документов.

            si-good-accordion-pane
              .si-good-accordion__head
                .si-good-accordion__badge 03
                .si-good-accordion__caption Представить документы в отделение ООО «Сбербанк страхование жизни»
              .si-good-accordion__body
                .sb-wysiwyg
                  .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                    p Перечень застрахованных рисков, исключения из страхового покрытия, а также сроки его действия закреплены в конкретном Страховом полисе и Правилах страхования.
                    p Если произошедшее событие предусмотрено Страховым полисом и (или) Правилами страхования, следует обеспечить его документальное оформление и собрать комплект необходимых документов.
