.si-good-section.si-good-section_background_green#anchor-power
  .container.container_s_m
    .si-layout-section.si-layout-section_s_m
      .sb-good-activate
        .r.r_s_m
          .r__c.r__c_1_3
            .si-good-caption
              .si-good-caption__text Активировать <br> полис
          .r__c.r__c_2_3
            .sb-wysiwyg
              .sb-wysiwyg__p.sb-wysiwyg__p_s_m В этом разделе Вы можете активировать коробочный продукт. <br> Это займет не более 5 минут и позволит конкретизировать условия полиса и данные застрахованных лиц.
            a.sb-button.sb-button_s_m.sb-button_theme_white(href="#")
              span.sb-button__text Активировать
