.si-good-section
  .container.container_s_m
    .si-layout-section.si-layout-section_s_m
      .si-good-caption.si-good-caption_accentuated
        .si-good-caption__text Оформите полис за 5 минут!
    .si-layout-section.si-layout-section_s_m
      .r.r_s_m
        .r__c.r__c_md_3
        .r__c.r__c_md_3
          .si-good-step
            .si-good-step__image
              img(src="/assets/images/good-step-1.png", srcset="/assets/images/good-step-1_2x.png 2x", alt="")
            .si-good-step__text Выберите подходящую программу
        .r__c.r__c_md_3
          .si-good-step
            .si-good-step__image
              img(src="/assets/images/good-step-2.png", srcset="/assets/images/good-step-2_2x.png 2x", alt="")
            .si-good-step__text Оплатите полис<br>онлайн
        .r__c.r__c_md_3
          .si-good-step
            .si-good-step__image
              img(src="/assets/images/good-step-3.png", srcset="/assets/images/good-step-3_2x.png 2x", alt="")
            .si-good-step__text Сразу же получите ваш полис на e-mail
