extends ../_layout

block content
  .si-article-hero(style="background-image: url('//unsplash.it/2560/1600/?random&hero')")
    .container.container_s_m
      .si-breadcrumbs
        .si-breadcrumbs__item
          a.si-breadcrumbs__link(href="#")
            span.si-breadcrumbs__text Главная
        .si-breadcrumbs__item
          a.si-breadcrumbs__link(href="#")
            span.si-breadcrumbs__text Статьи
        span.si-breadcrumbs__text Большой город
      .si-article-hero__user
        .si-user
          .si-user__avatar
            .si-avatar.si-avatar_s_l: img(src="//unsplash.it/220/220/?random", alt="")
          .si-user__sentence
            .si-article-hero__user-name Лариса Горячева
            .si-article-hero__counter 19 публикаций
      .si-article-hero__name 10 причин посетить Южную Америку
      .si-article-hero__bottom
        .r.r_s_s.r_a_b
          .r__c
            .si-article-hero__published 21 июля
          .r__c
            .si-article-stats.si-article-stats_theme_a
              .si-article-stats__item.si-article-stats__item_type_comments
                a.si-article-stats__link(href="#")
                  span.si-article-stats__icon
                  span.si-article-stats__counter 24
          .r__c
            .si-socials.ya-share2(data-services='vkontakte,facebook,odnoklassniki', data-bare="true")
  .container.container_s_m
    .r.r_s_m.r_a_b
      .r__c.r__c_md_3
        .si-article-widgets
          .si-article-widgets__caption Другие статьи рубрики:
          .si-article-widget
            a.si-article-widget__name(href="#") О чем никогда не стоит разговаривать с местными жителями в Касабланке
            .si-article-widget-author
              .si-article-widget-author__c
                .si-avatar.si-avatar_s_s: img(src="//unsplash.it/80/80/?random&id=1", alt="")
              .si-article-widget-author__c
                .si-article-widget-author__name Carley Larkin
                .si-article-widget-author__meta 21 июля
          .si-article-widget
            a.si-article-widget__name(href="#") О чем никогда не стоит разговаривать с местными жителями в Касабланке
            .si-article-widget-author
              .si-article-widget-author__c
                .si-avatar.si-avatar_s_s: img(src="//unsplash.it/80/80/?random&id=2", alt="")
              .si-article-widget-author__c
                .si-article-widget-author__name Yolanda Kub
                .si-article-widget-author__meta 21 июля
          .si-article-widget
            a.si-article-widget__name(href="#") О чем никогда не стоит разговаривать с местными жителями в Касабланке
            .si-article-widget-author
              .si-article-widget-author__c
                .si-avatar.si-avatar_s_s: img(src="//unsplash.it/80/80/?random&id=3", alt="")
              .si-article-widget-author__c
                .si-article-widget-author__name Elise Fadel
                .si-article-widget-author__meta 21 июля
      .r__c.r__c_md_8
        .si-article__sentence
          p Южная Америка — это один сплошной праздник. Континент, до которого сложно добраться, но оно того действительно стоит! Сотни лет культурное наследие Бразилии создается людьми разных национальностей, рас и религий. В этом букете расцвели босса-нова, капоэйра и знаменитый футбол. Несмотря на различия, люди здесь по большей части ощущают себя единым народом,  гостеприимны и улыбчивы.
        .si-article__wysiwyg
          p Сотни лет культурное наследие Бразилии создается людьми разных национальностей, рас и религий. В этом букете расцвели босса-нова, капоэйра и знаменитый бразильский футбол. Несмотря на различия, люди здесь по большей части ощущают себя единым народом,  гостеприимны и улыбчивы. Брызги водопадов Игуасу на лице в сердце тропического леса, гигантские бабочки на плече и путешествия по рекам. Амазонка, экосистемы Пантанала, саванна  – популярнейшие туристические места в стране, где есть 62 национальных парка. Экотуризм сейчас на пике популярности  у путешественников, которые наслаждаются  сокровищами природы и дышат в «легких планеты».
          .si-article-slider
            .si-article-slider__slide
              .si-article-media
                .si-article-media__object
                  img(src="//unsplash.it/2560/1600/?random&media=1", alt="")
                .si-article-media__copyright Фото Ларисы Горячевой
                
            .si-article-slider__slide
              .si-article-media
                .si-article-media__object
                  img(src="//unsplash.it/2560/1600/?random&media=2", alt="")
                .si-article-media__copyright Фото Ларисы Горячевой
                    
            .si-article-slider__slide
              .si-article-media
                .si-article-media__object
                  img(src="//unsplash.it/2560/1600/?random&media=3", alt="")
                .si-article-media__copyright Фото Ларисы Горячевой
          h1 Удивительные места и достопримечательности Бразилии
          h2 Бразильская кухня
          p Завораживающий залив, город в горах и ясное небо. Бесчисленные театры, музеи, ботанические сады,  колониальные города Оуру Прету и Салвадор,а футуристическая архитектура столицы – Бразилиа –в виде самолета давно стала достоянием ЮНЕСКО. мегаполис Рио-де-Жанейро, очаровательные прибрежные города и рыбацкие  деревушки. А также серфинг, рыбалка, рафтинг, наблюдение за китами и ещё много чего интересного. 
          .si-article-media
            .si-article-media__object
              img(src="//unsplash.it/2560/1600/?random&media=2", alt="")
            .si-article-media__copyright Фото Ларисы Горячевой
          h2 Настоящий кофе
          p Завораживающий залив, город в горах и ясное небо. Бесчисленные театры, музеи, ботанические сады,  колониальные города Оуру Прету и Салвадор,а футуристическая архитектура столицы – Бразилиа – в виде самолета давно стала достоянием ЮНЕСКО. мегаполис Рио-де-Жанейро, очаровательные прибрежные города и рыбацкие  деревушки. А также серфинг, рыбалка, рафтинг, наблюдение за китами и ещё много чего интересного. 
          .si-article-media
            .si-article-media__object
              iframe(width="560" height="315" src="https://www.youtube.com/embed/9h454Kqjxsk" frameborder="0" allowfullscreen)
            .si-article-media__copyright Фото Ларисы Горячевой
          h2 Карнавал
          p Знаменитый Карнавал в Рио де Жанейро не нуждается в представлении. Кроме неудержимых ритмов самбы и ярких костюмов, не менее захватывающе проходит Новый Год – Ревейлон. Свадьба рек на Амазонке, Семана Санта, фестиваль Святого Вита всегда рады гостям. События и выставки собирают здесь всю Южную Америку и посетителей со всех уголков земного шара.

  .si-article-blockqoute
    .container.container_s_m
      .r.r_s_m
        .r__c.r__c_md_3
        .r__c.r__c_md_8
          .si-article-blockqoute__text
            | Теперь знаю, что за деньги в Бразилии можно купить все, что угодно. Даже саму Бразилию, или весь континент.
            br
            | Со своими деньгами я вполне бы мог стать там президентом.
  .container.container_s_m
    .r.r_s_m.r_a_b
      .r__c.r__c_md_3
      .r__c.r__c_md_8
        .si-article__wysiwyg
          p Сотни лет культурное наследие Бразилии создается людьми разных национальностей, рас и религий. В этом букете расцвели босса-нова, капоэйра и знаменитый бразильский футбол. Несмотря на различия, люди здесь по большей части ощущают себя единым народом,  гостеприимны и улыбчивы. Брызги водопадов Игуасу на лице в сердце тропического леса, гигантские бабочки на плече и путешествия по рекам. Амазонка, экосистемы Пантанала, саванна  – популярнейшие туристические места в стране, где есть 62 национальных парка. Экотуризм сейчас на пике популярности  у путешественников, которые наслаждаются  сокровищами природы и дышат в «легких планеты».
          h2 Настоящий кофе
          p Завораживающий залив, город в горах и ясное небо. Бесчисленные театры, музеи, ботанические сады,  колониальные города Оуру Прету и Салвадор,а футуристическая архитектура столицы – Бразилиа – в виде самолета давно стала достоянием ЮНЕСКО. мегаполис Рио-де-Жанейро, очаровательные прибрежные города и рыбацкие  деревушки. А также серфинг, рыбалка, рафтинг, наблюдение за китами и ещё много чего интересного. 
          p Знаменитый Карнавал в Рио де Жанейро не нуждается в представлении. Кроме неудержимых ритмов самбы и ярких костюмов, не менее захватывающе проходит Новый Год – Ревейлон. Свадьба рек на Амазонке, Семана Санта, фестиваль Святого Вита всегда рады гостям. События и выставки собирают здесь всю Южную Америку и посетителей со всех уголков земного шара.

        .si-article__tags
          .si-tags.si-tags_theme_light
            .si-tags__item
              a.si-tags__link(href="#")
                .si-tags__text бразилия
            .si-tags__item
              a.si-tags__link(href="#")
                .si-tags__text путешествия
            .si-tags__item
              a.si-tags__link(href="#")
                .si-tags__text бразилия
            .si-tags__item
              a.si-tags__link(href="#")
                .si-tags__text путешествия
            .si-tags__item
              a.si-tags__link(href="#")
                .si-tags__text бразилия
            .si-tags__item
              a.si-tags__link(href="#")
                .si-tags__text путешествия
            .si-tags__item
              a.si-tags__link(href="#")
                .si-tags__text бразилия
            .si-tags__item
              a.si-tags__link(href="#")
                .si-tags__text путешествия
            .si-tags__item
              a.si-tags__link(href="#")
                .si-tags__text бразилия
            .si-tags__item
              a.si-tags__link(href="#")
                .si-tags__text путешествия
            .si-tags__item
              a.si-tags__link(href="#")
                .si-tags__text бразилия
            .si-tags__item
              a.si-tags__link(href="#")
                .si-tags__text путешествия
        .si-article-share
          .r.r_a_c
            .r__c
              .si-article-share__caption Поделиться статьей:
            .r__c
              .si-socials.ya-share2(data-services='vkontakte,facebook,odnoklassniki', data-bare="true", data-size="l")
        .si-article-replies
          .si-article-replies__head
            .r.r_a_c
              .r__c
                .si-article-replies__caption Комментарии
              .r__c.r__c_r
                .r.r_s_s
                  .r__c
                    .si-stats-button.si-stats-button_type_likes
                      span.si-stats-button__icon
                      span.si-stats-button__text 32
                  .r__c
                    .si-stats-button.si-stats-button_type_comments
                      span.si-stats-button__icon
                      span.si-stats-button__text 12
          .si-article-replies__body
            .si-replies
              .si-replies__item
                .si-replies__avatar
                  .si-avatar.si-avatar_s_m: img(src="//unsplash.it/160/160/?random", alt="")
                .si-replies__body
                  .si-replies__username Лариса Горячева
                  .si-replies__text Где, как не в Бразилии, можно попробовать настоящий кофе?
                  .si-replies__details
                    .r.r_s_s
                      .r__c 21 июля в 23:35
                      .r__c
                        a(href="#") Ответить
              .si-replies__item
                .si-replies__avatar
                  .si-avatar.si-avatar_s_m: img(src="//unsplash.it/160/160/?random&id=2", alt="")
                .si-replies__body
                  .si-replies__username Лариса Горячева
                  .si-replies__text Министерство туризма и частный сектор инвестирует в инфраструктуру и развитие туризма в Бразилии. Это видно по хорошим дорогам, увеличению рабочих мест в туризме деревушки. А также серфинг, рыбалка, рафтинг, наблюдение за китами и ещё много чего интересного. 
                  .si-replies__details
                    .r.r_s_s
                      .r__c 21 июля в 23:35
                      .r__c
                        a(href="#") Ответить
            .si-replies
              .si-replies__item
                .si-replies__avatar
                  .si-avatar.si-avatar_s_m: img(src="//unsplash.it/160/160/?random&id=2", alt="")
                .si-replies__body
                  .si-replies__username Лариса Горячева
                  .si-replies__text Министерство туризма и частный сектор инвестирует в инфраструктуру и развитие туризма в Бразилии. Это видно по хорошим дорогам, увеличению рабочих мест в туризме деревушки. А также серфинг, рыбалка, рафтинг, наблюдение за китами и ещё много чего интересного. 
                  .si-replies__details
                    .r.r_s_s
                      .r__c 21 июля в 23:35
                      .r__c
                        a(href="#") Ответить
            .si-article-join
              .si-layout-section.si-layout-section_s_xs
                .si-article-join__caption
                  | Присоединяйтесь к семье SberLife
                .si-article-join__text
                  | чтобы участвовать в обсуждениях
              .si-layout-section.si-layout-section_s_xs
                a.sb-button.sb-button_s_m.sb-button_theme_green(href="#")
                  span.sb-button__text(style="text-transform: none;") Стать участником
              .si-layout-section.si-layout-section_s_xs
                a.si-link.si-link_theme_action(href="#")
                  span.si-link__text Залогиниться
      
  .si-related-articles
    .container.container_s_m
      .si-related-articles__topbar
          .r.r_a_c
            .r__c
              .si-related-articles__more
                span Другие статьи из темы 
                a.si-link.si-link_theme_action(href="#") Большой город
            .r__c.r__c_r
              .si-stats-button.si-stats-button_type_rss
                span.si-stats-button__text Подписаться на тему:
                span.si-stats-button__icon
    .si-related-articles__list
      .si-related-article(style="background-image: url('//unsplash.it/2480/1280/?random&related=1')")
        .container.container_s_m
          .si-related-article__name Quibusdam in harum asperiores accusantium nesciunt reiciendis
          .si-related-article__stats
            .r.r_s_s.r_a_b
              .r__c
                .si-article-stats.si-article-stats_theme_a
                  .si-article-stats__item.si-article-stats__item_type_comments
                    a.si-article-stats__link(href="#")
                      span.si-article-stats__icon
                      span.si-article-stats__counter 24
                  .si-article-stats__item.si-article-stats__item_type_likes
                    a.si-article-stats__link(href="#")
                      span.si-article-stats__icon
                      span.si-article-stats__counter 234
              .r__c
                .si-related-article__author Rita Marks
      .si-related-article(style="background-image: url('//unsplash.it/2480/1280/?random&related=2')")
        .container.container_s_m
          .si-related-article__name Doloremque non beatae non accusamus debitis fugit non
          .si-related-article__stats
            .r.r_s_s.r_a_b
              .r__c
                .si-article-stats.si-article-stats_theme_a
                  .si-article-stats__item.si-article-stats__item_type_comments
                    a.si-article-stats__link(href="#")
                      span.si-article-stats__icon
                      span.si-article-stats__counter 24
                  .si-article-stats__item.si-article-stats__item_type_likes
                    a.si-article-stats__link(href="#")
                      span.si-article-stats__icon
                      span.si-article-stats__counter 234
              .r__c
                .si-related-article__author Kurt Fadel
