extends ../../_layout
block layout 
  .si-layout__body
    .si-form.si-form_theme_a
      .si-form__fieldset
        .si-form__fieldset
          .si-form__field
            .r.r_s_m
              .r__c.r__c_md_6
                .si-form__label
              .r__c.r__c_md_6
                .si-form__controls
              
    .si-polis-title
      span Энергия жизни
      span.si-polis-title__sentence jfksdj slkdfl skdlfks ldkfls d<br>ldsgklsdkglsdkglskdglk
