extends _layout

block content
  .sb-good-anchor
    .sb-good-anchor__instance
      a.si-link(href="#anchor-about")
        span.sb-good-anchor__icon.sb-good-anchor__icon_about.sb-icon
        span.si-link__text О полисе
    .sb-good-anchor__instance
      a.si-link(href="#anchor-power")
        span.sb-good-anchor__icon.sb-good-anchor__icon_power.sb-icon
        span.si-link__text Активировать полис
    .sb-good-anchor__instance
      a.si-link(href="#anchor-coins")
        span.sb-good-anchor__icon.sb-good-anchor__icon_coins.sb-icon
        span.si-link__text Стоимость
    .sb-good-anchor__instance
      a.si-link(href="#anchor-info")
        span.sb-good-anchor__icon.sb-good-anchor__icon_info.sb-icon
        span.si-link__text Подробности
    .sb-good-anchor__instance
      a.si-link(href="#anchor-location")
        span.sb-good-anchor__icon.sb-good-anchor__icon_location.sb-icon
        span.si-link__text Как оформить?
    .sb-good-anchor__instance
      a.si-link(href="#anchor-actions")
        span.sb-good-anchor__icon.sb-good-anchor__icon_action.sb-icon
        span.si-link__text Страховой случай
    .sb-good-anchor__instance
      a.si-link(href="#anchor-answers")
        span.sb-good-anchor__icon.sb-good-anchor__icon_answers.sb-icon
        span.si-link__text Вопросы и ответы
    .sb-good-anchor__instance
      a.si-link(href="#anchor-files")
        span.sb-good-anchor__icon.sb-good-anchor__icon_files.sb-icon
        span.si-link__text Документы
      
  
  .si-good-section.si-good-section-hero(style="background-image: url('//unsplash.it/3200/1680/?random')")
    .container.container_s_m
      .si-good-section-hero__overlay
      .si-good-section-hero__content
        .si-good-section-hero__caption Название продукта
        .si-good-section-hero__text Продукт, предназначенный для личной защиты от непредвиденных рисков, возникающих в поездке. Программа включает в себя защиту здоровья, обеспечение непредвиденных транспортных расходов, а также юридическую помощь и гражданскую ответственность перед третьими лицами.
        .si-good-section-hero__action
          a.sb-button.sb-button_s_m.sb-button_theme_white(href="#")
            span.sb-button__text Оформить полис
      a.si-good-section__anchor(href="#")

  .si-good-section#anchor-about
    .container.container_s_m
      .si-layout-section.si-layout-section_s_m
        .si-good-caption.si-good-caption_accentuated
          .si-good-caption__text Для чего нужен <br> продукт?
      .si-layout-section.si-layout-section_s_m
        .r.r_s_m(style="margin-top: -48px;")
          .r__c.r__c_md_4
          .r__c.r__c_md_8
            .sb-wysiwyg
              .sb-wysiwyg__p.sb-wysiwyg__p_s_m Пришел Грушницкий и бросился мне на шею: он произведен в офицеры. Мы выпили шампанского. Доктор Вернер вошел вслед за ним. С тех пор, как поэты пишут и женщины их читают (за что им глубочайшая благодарность), их столько раз называли ангелами, что они в самом деле, в простоте душевной, поверили этому комплименту, забывая, что те же поэты за деньги величали Нерона полубогом...
            
  
  include partials/_section_activate
  
  .si-good-section(style="padding-bottom: 0;")
    .container.container_s_m
      .si-layout-section.si-layout-section_s_m
        .si-good-caption.si-good-caption_accentuated
          .si-good-caption__text Как это работает?
      .si-layout-section.si-layout-section_s_m
        .r.r_s_m
          .r__c.r__c_md_4
          .r__c.r__c_md_8
            .sb-wysiwyg
              .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                p При заключении договора вы выбираете одну из предложенных  программ, которые учитывают следующие параметры:
                ul
                  li Единовременный взнос
                  li Страховая сумма
                hr
                p При заключении договора вы выбираете одну из предложенных  программ, которые учитывают следующие параметры:
                ul
                  li Единовременный взнос
                  li Страховая сумма
                  li Единовременный взнос
                  li Страховая сумма  
  
  .si-good-section#anchor-coins
    .container.container_s_m
      .si-layout-section.si-layout-section_s_m
        .si-good-caption
          .si-good-caption__text Стоимость полиса
      .si-layout-section.si-layout-section_s_m
        .sb-good-table
          table
            tr
              td Страховая премия
              td 4 990 руб./год
              td 4 990 руб./мес.
              td 4 990 руб./день
            tr
              td Страховая сумма по риску “травма”
              td 4 990 руб./год
              td 4 990 руб./мес.
              td 4 990 руб./день
  .si-good-section.si-good-section_background_grey#anchor-info
    .container.container_s_m
      .si-layout-section.si-layout-section_s_m
        .si-good-caption.si-good-caption_accentuated
          .si-good-caption__text Подробнее о полисе
      .si-layout-section.si-layout-section_s_m
        si-good-tabs
          si-good-tabs-pane(title="От чего защищает")
            si-good-accordion.si-good-accordion_theme_2
              si-good-accordion-pane
                .si-good-accordion__head
                  .si-good-accordion__badge 01
                  .si-good-accordion__caption Травмы
                .si-good-accordion__body
                  .sb-wysiwyg
                    .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                      p Перечень застрахованных рисков, исключения из страхового покрытия, а также сроки его действия закреплены в конкретном Страховом полисе и Правилах страхования.
                      p Если произошедшее событие предусмотрено Страховым полисом и (или) Правилами страхования, следует обеспечить его документальное оформление и собрать комплект необходимых документов.

              si-good-accordion-pane
                .si-good-accordion__head
                  .si-good-accordion__badge 02
                  .si-good-accordion__caption Солнечные ожоги
                .si-good-accordion__body
                  .sb-wysiwyg
                    .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                      p Перечень застрахованных рисков, исключения из страхового покрытия, а также сроки его действия закреплены в конкретном Страховом полисе и Правилах страхования.
                      p Если произошедшее событие предусмотрено Страховым полисом и (или) Правилами страхования, следует обеспечить его документальное оформление и собрать комплект необходимых документов.

              si-good-accordion-pane
                .si-good-accordion__head
                  .si-good-accordion__badge 03
                  .si-good-accordion__caption Обморожения
                .si-good-accordion__body
                  .sb-wysiwyg
                    .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                      p Перечень застрахованных рисков, исключения из страхового покрытия, а также сроки его действия закреплены в конкретном Страховом полисе и Правилах страхования.
                      p Если произошедшее событие предусмотрено Страховым полисом и (или) Правилами страхования, следует обеспечить его документальное оформление и собрать комплект необходимых документов.
                      
              si-good-accordion-pane
                .si-good-accordion__head
                  .si-good-accordion__badge 04
                  .si-good-accordion__caption Переломы
                .si-good-accordion__body
                  .sb-wysiwyg
                    .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                      p Перечень застрахованных рисков, исключения из страхового покрытия, а также сроки его действия закреплены в конкретном Страховом полисе и Правилах страхования.
                      p Если произошедшее событие предусмотрено Страховым полисом и (или) Правилами страхования, следует обеспечить его документальное оформление и собрать комплект необходимых документов.
              si-good-accordion-pane
                .si-good-accordion__head
                  .si-good-accordion__badge 05
                  .si-good-accordion__caption Тяжелые раны
                .si-good-accordion__body
                  .sb-wysiwyg
                    .sb-wysiwyg__p.sb-wysiwyg__p_s_m
                      p Перечень застрахованных рисков, исключения из страхового покрытия, а также сроки его действия закреплены в конкретном Страховом полисе и Правилах страхования.
                      p Если произошедшее событие предусмотрено Страховым полисом и (или) Правилами страхования, следует обеспечить его документальное оформление и собрать комплект необходимых документов.
          si-good-tabs-pane(title="Страховые риски")
          si-good-tabs-pane(title="Срок действия полиса")
          si-good-tabs-pane(title="Важно знать!")
    
  .si-good-section#anchor-location
    .container.container_s_m
      .si-layout-section.si-layout-section_s_m
        .r.r_s_m
          .r__c.r__c_md_4
            .si-good-caption
              .si-good-caption__text Как оформить полис?
          .r__c.r__c_md_8
            .r.r_s_m
              .r__c.r__c_md_4
                .si-good-buy-feature
                  img(src="/assets/images/good-buy-1.png", srcset="/assets/images/good-buy-1_2x.png 2x", alt="")
                  .si-good-buy-feature__text: p В любом отделении СК “Сбербанк Страхование”
                  a.si-link.si-link_theme_action(href="#")
                    span.si-link__text Адреса отделений
              .r__c.r__c_md_4
                .si-good-buy-feature
                  img(src="/assets/images/good-buy-2.png", srcset="/assets/images/good-buy-2_2x.png 2x", alt="")
                  .si-good-buy-feature__text: p Позвонив по телефону:
                  p: b 8 (800) 200-32-338
                  p: b (495) 555-23-33
              .r__c.r__c_md_4
                .si-good-buy-feature
                  img(src="/assets/images/good-buy-3.png", srcset="/assets/images/good-buy-3_2x.png 2x", alt="")
                  .si-good-buy-feature__text: p В отделениях партнёров <br> СК “Сбербанк Страхование”
                  a.si-link.si-link_theme_action(href="#")
                    span.si-link__text Список адресов
  
  include partials/_section-actions
  include partials/_section-declare
